<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <xacro:macro name="inertial_cylinder" params="mass length radius *origin">
        <inertial>
            <xacro:insert_block name="origin"/>
            <mass value="${mass}" />
            <inertia ixx="${(1/12) * mass * (3*radius*radius + length*length)}" ixy="0.0" ixz="0.0"
                    iyy="${(1/12) * mass * (3*radius*radius + length*length)}" iyz="0.0"
                    izz="${(1/2) * mass * (radius*radius)}" />
        </inertial>
    </xacro:macro>

    <joint name="cam_joint" type="fixed">
        <parent link="wrist_3_link"/>
        <child link="rgbd_camera"/>
        <origin xyz="0.0 -0.05 0.0" rpy="0 -1.5707 1.5707"/>
    </joint>

    <link name="rgbd_camera">
        <visual>
        <origin xyz="0 0 0" rpy="0 0 1.5707"/>
        <geometry>
            <mesh filename="file:///home/lisa/master_thesis/ace_ws/src/ur_simulation_gz/material/kinect.dae"/>
        </geometry>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.07271 0.27794 0.073"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.001" />
            <origin xyz="0 0 0" />
            <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001" />
        </inertial>
    </link>



    <gazebo reference="rgbd_camera">
        <sensor name="rgbd_camera" type="rgbd_camera">
          <camera>
            <horizontal_fov>1.047</horizontal_fov>
            <image>
              <width>320</width>
              <height>240</height>
            </image>
            <clip>
              <near>0.1</near>
              <far>100</far>
            </clip>
          </camera>
          <always_on>1</always_on>
          <update_rate>10</update_rate>
          <visualize>true</visualize>
          <topic>rgbd_camera</topic>
        <gz_frame_id>rgbd_camera</gz_frame_id>
        </sensor>
    </gazebo>

</robot>