<?xml version="1.0"?>

<model>
  <name>Hollow Cylinder</name>
  <version>1.0</version>
  <sdf version="1.11">model.sdf</sdf>

  <author>
    <name>Jasmeet Singh</name>
    <email>jasmeet0915@gmail.com</email>
  </author>

  <description>
    Collada model of a hollow cylinder with outer radius=0.5m and inner radius=0.375m. The length of the cylinder is 1m. 
  </description>
</model>
